@font-face {
  font-family: "poppins";
  src: url("Poppins-Medium.otf");
}

body {
  font-family: "poppins";
  /* margin-left: auto;
  margin-right: auto; */
}

thead {
  padding: 2rem;
}

tbody {
  margin: 1rem;
}

.tabel-dalam-dalam {
  margin: 2rem;
}

.pala {
  font-family: "poppins";
  font-size: 30px;
}

legend {
  color: red;
}

select:hover {
  background-color: blanchedalmond;
}

option:hover {
  background-color: blanchedalmond;
}

input:hover {
  background-color: blanchedalmond;
}

textarea:hover {
  background-color: blanchedalmond;
}

.rule {
  margin: 0px 0px 0px 1rem;
  font-size: 25px;
  color: red;
}

.image-headers {
  width: 100%;
  height: auto;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-headers img {
  width: 100%;
  height: auto;
}

.rules {
  padding-bottom: 1rem;
  color: red;
  margin: auto;
}

button a {
  color: black;
  font-family: "poppins";
  text-decoration: none;
}

@media only screen and (min-width: 700px) {
  body {
    font-family: "poppins";
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .rules {
    color: red;
    margin-left: 2rem;
    margin-right: 2rem;
  }
}
